header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

header .logo a {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
}

header nav ul {
  display: flex;
  gap: 55px;
  font-weight: 600;
  font-size: 18px;
}
